* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #232020;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(https://image.freepik.com/free-vector/abstract-violet-pixel-rain-background_23-2148362568.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.inp {
  padding: 10px;
  flex-grow: 1;
  border-radius: 5px;
  outline: none;
  border: 1px solid silver;
}
.container {
  display: flex;
  max-width: 50%;
  width: 100%;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 5rem;
  flex-wrap: wrap;
}
.item1 {
  background-color: #f8f9fa;
  flex-grow: 1;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
}
.price {
  text-align: center;
  font-size: 5em;
  flex-grow: 1;
  margin-bottom: 30px;
  margin-top: 0px;
  font-family: "Righteous", cursive;
  color: #f5f1ef;
}
.btn {
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.restart {
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  background-color: #c544ba;
  border-color: #c544ba;
}
.btn:hover {
  background-color: #205792;
}
.last {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  color: white;
}

.instruction {
  padding: 15px;
  margin: 10px 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 20px;
  border-radius: 5px;
}

.plus {
  background-color: #f67280;
}

.minus {
  background-color: #ffa372;
}

.final {
  background-color: #0c9463;
}
